.photo-profile-container {
    text-align: center;
    background-color: #E6E6E6;
    padding: 10px;
    border-bottom: 3px solid #898989;
}

.profile-photo {
    width : 120px;
    height : 120px;
    -webkit-border-radius : 50%;
    border-radius: 50%;
}